# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env
backend/.env

# VS Code
.vscode/

# Docker
*.log

# Node
node_modules/
dist/

# Logs and Uploads
logs/
uploads/

# macOS
.DS_Store

# Windows
Thumbs.db